.username{
  font-weight: bold;
}

.time{
  font-size: .7em;
  color: #999;
}

.update-mssg{
  margin: 0 auto;
  border: 2px solid #43d9be;
  background-color: #43d9be;
  color: whitesmoke;
  text-align: center;
  border-radius: 10rem;
  width: 20rem;
  padding: .5rem;
  font-weight: bold;
  transform: translateX(-1rem);

  &:hover{
    background-color: #43d9;
    border: 2px solid #43d9;
    color: black;
  }
}