.container {
  max-width: 600px; }

.btn {
  background: #43d9be;
  color: whitesmoke;
  outline: none !important;
  box-shadow: none !important; }
  .btn:focus {
    outline: none !important; }
  .btn:hover {
    background: #43d9; }

.username {
  font-weight: bold; }

.time {
  font-size: .7em;
  color: #999; }

.update-mssg {
  margin: 0 auto;
  border: 2px solid #43d9be;
  background-color: #43d9be;
  color: whitesmoke;
  text-align: center;
  border-radius: 10rem;
  width: 20rem;
  padding: .5rem;
  font-weight: bold;
  transform: translateX(-1rem); }
  .update-mssg:hover {
    background-color: #43d9;
    border: 2px solid #43d9;
    color: black; }

form .btn {
  margin-left: 1rem; }

form input[type="text"] {
  max-width: 341px;
  margin-left: 1rem !important; }

.clear-form .input-group {
  display: flex;
  justify-content: flex-end;
  margin-left: -1rem; }
